body {
	font: 'Brush Script MT', cursive;
    color: rgba(0,0,0,.8);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, rgb(36, 191, 194), rgb(18, 44, 135)); 
}

h1 {
    font: 600 3.5em 'Brush Script MT', cursive;
    color: rgba(0,0,0,.8);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}
h2 {
    font: 600 1.5em 'Brush Script MT', cursive;
    color: rgba(0,0,0,.8);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}
input {
	font: 900 1em 'Brush Script MT', cursive;
    color: rgba(0,0,0,.8);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
